/* Reset some default styles for better consistency */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
    background-image: url("https://media.licdn.com/dms/image/D5603AQF_zlvpa-DnwA/profile-displayphoto-shrink_200_200/0/1692345003615?e=2147483647&v=beta&t=ppsZX9RVP6eVyqbxVYOgjHa6ck1uiVR3P111aUWB4es");
}

/* Basic styling for the header */
header {
    font: caption;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    text-align: center;
    padding: 20px;
}

/* Styling for contact section */
#contact {
    background-color: #080808;
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Styling for work experience and education sections */
#experience, #education {
    background-color: rgb(9, 9, 9);
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Styling for skills section */
#skills {
    background-color: rgb(9, 9, 9);
    padding: 20px;
    color: #fff;
}

#experience{
    background-color: rgb(7, 7, 7);
    padding: 20px;
    text-align: center;
    text-decoration: solid;
    color: #f0f0f0;
}

/* Basic list styling */
ul {
    list-style-type: disc;
}

/* Styling for list items in experience, education, and skills sections */
li {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Links in the header */
header a {
    color: #fff;
    text-decoration: none;
    text-shadow: #3a3838;
}

/* Style links on hover */
header a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}
