/*General*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');

body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth ;
}

/* Basic styling for the header */
header {
    font: caption;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    text-align: center;
    padding: 20px;
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center ;
    height: 17vh;
}

.nav-links{
     gap: 2rem;
    list-style: none;
    font-size: 2.5rem;
}

a{
    color:black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 2.5rem;
}

.logo:hover{
    cursor: default;
}


#contact {
    background-color: #080808;
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Styling for work experience and education sections */
#experience, #education {
    background-color: rgb(9, 9, 9);
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Styling for skills section */
#skills {
    background-color: rgb(9, 9, 9);
    padding: 20px;
    color: #fff;
}

#experience{
    background-color: rgb(7, 7, 7);
    padding: 20px;
    text-align: center;
    text-decoration: solid;
    color: #f0f0f0;
}

/* Basic list styling */
ul {
    list-style-type: disc;
}

/* Styling for list items in experience, education, and skills sections */
li {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Links in the header */
 a , .btn {
    transition: all 300ms ease;
    color: black;
    text-decoration: none;
    text-shadow: #3a3838;
}


 