/* Reset some default styles for better consistency */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styling for contact section */
#contact {
    background-color: #3a3838;
    padding: 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Styling for work experience and education sections */
#experience, #education {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

/* Styling for skills section */
#skills {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Basic list styling */
ul {
    list-style-type: lower-roman;
}

/* Styling for list items in experience, education, and skills sections */
li {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Links in the header */
header a {
    color: #fff;
    text-decoration: none;
    text-shadow: #3a3838;
}

/* Style links on hover */
header a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}
